 body
{
    background-color: #FBF7EE;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Karla';
}
/*
#header
{
    display: flex;
}

#navbar
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content:space-around;
    background-color: red;
    list-style-type: none; 
}
#logo
{

    width: auto ;
    width: auto;
} */

.titreA
{

    color: #13366D;
    
}

#main
{
    display: flex;
    
}

#BgHero
{
    width: 400px;
}

.parChek
{
    font-size: 16px;
}

.sec
{   padding-top: 10%;
    padding-right: 10%;
}

#btn
{
    color: aliceblue;
    background-color: #0B48A8;
    border-radius: 5px ;
    border: #0B48A8;
}
#btn:hover
{
    background-color: #2a5cac;
}
p
{
    font-family: "Karla";
}

@media(min-width:885)
{
    #main
    {
        display: flex;
        flex-wrap: wrap;

        
    }
}